{
"backupHour1":"07",
"backupMin1":"17",
"backupHour2":"22",
"backupMin2":"17",
"backupNameEnd":"-your_site_backup.tar.gz",
"backupMinSizeBytes":20000000,
"remoteBackupFolder":"/home/USERNAME/sites_backups/",
"remoteSiteFolder":"/var/www/your.site.biz/",
"localSiteFolder":"/home/USERNAME/dev/www/your.site.biz/",
"sqldumpName":"dbbackup.sql",

"localUserID": 1000,
"localGroupID": 1000,

"remoteHost":"198.244.28.66",
"remotePort":22,
"remoteUsername":"USERNAME",
"remotePassword":"USER_PASSWORD",
  
"localHostAddr":"localhost",
"localRelPath":"/",
"localPort":"8022",
"localPhpCommand":"php",

"localMysqlRootUname":"root",
"localMysqlRootUpass":"MYSQL_ROOT_PASSWORD",
"remoteMysqlSiteDbName":"MYSQL_DB_NAME",
"remoteMysqlSiteUname":"MYSQL_UNAME",
"remoteMysqlSiteUpass":"MySQL_UPASS",
  
"backupStoreTempForXMonths":2,
"backupStorePermEveryXDays":7,
"localTmpBackupsFolder":"tmp/backups",
"localPermBackupsFolder":"permanent",
"localTmpFolder":"tmp"
}
